/* Start Fonts */



@font-face {
    font-family: Caveat;
    src: url(../Fonts/Caveat-Bold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Caveat;
    src: url(../Fonts/Caveat-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Caveat;
    src: url(../Fonts/Caveat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Caveat;
    src: url(../Fonts/Caveat-SemiBold.ttf);
    font-weight: 400;
}


/* End Fonts */

/* Footer down start*/

 * {
	margin: 0;
	padding: 0;
    transition: 1s;

    
}

html,
body {
    height: 100%;
    background-color: #ad8762;

}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;


}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
 /* Footer down end*/

/* Temp start */

html {
    moz-user-select: none;
-khtml-user-select: none; 
user-select: none;

}

/* Temp end */

body {
 
    background: url(/site/IMG/Back.jpg);
    background-repeat: no-repeat;

}

links {
    display: flex;
    
}



h1 {
    margin-top: 15%;
    text-align: center;
    font-family: "Caveat";
    font-weight: 700;
    font-size: 69px;
    opacity: 88%;
    color: #000000ef
}

h3 {
margin-top: 7%;
    text-align: center;
    font-family: "Caveat";
    font-weight: 700;
    font-size: 40px;
    opacity: 88%;
    color: #000000ef
}


.link {
    font-family: "Caveat";
    font-weight: 700;
    font-size: 33px;
    opacity: 88%;
    color: #000000ef;
    text-decoration: none;
    margin: 0 10px;
}


.link:hover {
    opacity: 100%;
    color: #00CED1;
    transition: 1s;
   
}



.token {
    font-family: "Caveat";
    font-weight: 400;
    font-size: 28px;
    opacity: 90%;
    color: #000000ef;
    margin-top: 30px;
    margin-bottom: 4%;
}

.tap {
    font-family: "Caveat";
    font-weight: 400;
    font-size: 28px;
    opacity: 90%;
    color: #000000ef;
}

.token:hover {
    opacity: 100%;
    color: #00CED1;
    transition: 0.8s;
    cursor: copy;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease;
    padding: 20px;
  

}

/* Adaptive start */


@media (min-width: 1px) and (max-width: 900px) {
    body {
        transition: 1s;
        background: url(/site/IMG/backmobile-v2.jpg);
        background-repeat: no-repeat;
    }

    .token {
        font-size: 10px;
        font-weight: 700;
        white-space: nowrap;
    }
  
    h1 {
      
        font-size: 44px;
      
    }
    
    h3 {

        font-size: 25px;
      
    }


}



/* Adaptive end */
